/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/

:root {
    --main-letter-color: #000;
    --main-letter-dos-color: #FFF;
    --header-bg-color: #d1d5db;
    --footer-bg-color: #234f91;
    --menu-bg-color: #10b981 ;
    --border-bg-color: #f59e0b;
    
  }
  
